#header {
    background-color: beige;
    width: 100%;
    height: 5%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: sticky;
    
}

#main-1{
    border-width: 1px;
    border-style: solid;
    border-color:black;
   
}

#text1{
    height: 250px;
    width: 40px;
    position: relative;
} 




body{
  
   margin: 0%;
}
